<!DOCTYPE html>
<html>
  <head>
    <title>OpenAI Playground</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
      .user-message {
        background-color: #e2f0fd;
        border-radius: 10px;
        margin: 10px 0;
        padding: 10px;
      }
      .copy-button {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        color: #5765ef;
    }
    .user-message, .assistant-message {
      position: relative; 
  }
      .assistant-message {
        background-color: #f0f0f0;
        border-radius: 10px;
        margin: 10px 0;
        padding: 10px;
      }
      #config-col {
        transition: all 0.5s;
        position: sticky;
        top: 50px;
      }
      .sticky-button {
        position: sticky;
        top: 0;
        z-index: 100;
      }
    </style>
  </head>
  <body>
    <div class="container py-5">
      <h1 class="text-center">Chat with AI</h1>
      <div class="row">
        <div class="col-md-8" id="chat-col">
          <div class="card">
            <div class="card-body" id="chatbox">
              <div class="bot-message">
                <p>Welcome! How can I assist you today?</p>
              </div>
            </div>
            <div class="card-footer">
              <form id="chat-form" action="/chat" method="POST">
                <div class="input-group">
                  <textarea
                    id="message-input"
                    name="message"
                    class="form-control"
                    placeholder="Type your message..."
                    required
                  ></textarea>
                  <div class="input-group-append">
                    <button
                      id="sendButton"
                      class="btn btn-primary"
                      type="submit"
                    >
                      Send
                    </button>
                    <button id="clear-history" class="btn btn-secondary">
                      Clear History
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div id="loading" class="text-center my-3" style="display: none">
            Loading...
          </div>
        </div>
        <div class="col-md-4">
            <div class="sticky-button">
                <button id="toggleConfigButton" class="btn btn-primary">
                  Hide Configuration
                </button>
            </div>
          <div id="config-col">
            <div class="card">
              <div class="card-body" id="config-body">
                <form id="config-form" onsubmit="event.preventDefault()">
                  <div class="form-group">
                    <label for="system_message">System Message:</label>
                      <textarea 
                      id="system_message"
                      rows="4" 
                      cols="50" 
                      class="form-control" 
                      style="overflow-y: auto; resize: none;">You are a help assistant!
                    </textarea>
                  </div>
                  <div class="form-group">
                    <label for="secret_code">Secret Code</label>
                    <input type="password" id="secret_code" class="form-control" />
                  </div>
                  <div class="form-group">
                    <label for="engine">Engine:</label>
                    <select id="engine" class="form-control">
                      <option value="turbo-35">turbo-35</option>
                      <option value="gpt-4">gpt-4</option>
                      <option value="gpt-4-32k" selected>gpt-4-32k</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="temperature">Temperature:</label>
                    <input
                      type="number"
                      step="0.01"
                      min="0"
                      max="1"
                      id="temperature"
                      value="0.7"
                      class="form-control"
                    />
                  </div>
                  <div class="form-group">
                    <label for="max_tokens">Max Tokens:</label>
                    <input
                      type="number"
                      id="max_tokens"
                      value="800"
                      class="form-control"
                    />
                  </div>
                  <div class="form-group">
                    <label for="top_p">Top P:</label>
                    <input
                      type="number"
                      step="0.01"
                      min="0"
                      max="1"
                      id="top_p"
                      value="0.95"
                      class="form-control"
                    />
                  </div>
                  <div class="form-group">
                    <label for="frequency_penalty">Frequency Penalty:</label>
                    <input
                      type="number"
                      step="0.01"
                      min="0"
                      max="1"
                      id="frequency_penalty"
                      value="0"
                      class="form-control"
                    />
                  </div>
                  <div class="form-group">
                    <label for="presence_penalty">Presence Penalty:</label>
                    <input
                      type="number"
                      step="0.01"
                      min="0"
                      max="1"
                      id="presence_penalty"
                      value="0"
                      class="form-control"
                    />
                  </div>
                  <div class="form-group">
                    <label for="last_x_messages">Include Last X Messages:</label>
                    <input
                      type="number"
                      min="2"
                      max="30"
                      id="last_x_messages"
                      value="10"
                      class="form-control"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
        const chatbox = document.getElementById("chatbox");
        const chatForm = document.getElementById("chat-form");
        const messageInput = document.getElementById("message-input");
        const system_message = document.getElementById("system_message").value;
        let chatHistory = JSON.parse(localStorage.getItem('chatHistory')) || [{"role": "system", "content": system_message}];
        document.getElementById("system_message").value = chatHistory[0].content;
        // Display the chat history on page load
        chatHistory.forEach((msg) => {
          const messageContainer = document.createElement("div");
          messageContainer.classList.add(msg.role + "-message"); // apply different classes for user and assistant
          const messageContent = document.createElement("p");
          let converter = new showdown.Converter();
          const copyButton = document.createElement("i");
          copyButton.classList.add("fas", "fa-copy", "copy-button");
          copyButton.onclick = function() {
              let tempElement = document.createElement("textarea");
              tempElement.value = msg.content;
              document.body.appendChild(tempElement);
              tempElement.select();
              document.execCommand("Copy");
              tempElement.remove();
          };
          if (msg.role === "assistant" || msg.role === "user")
          {
            if (msg.role === "assistant") {
              messageContent.innerHTML = `<strong>Assistant:</strong> ${converter.makeHtml(
                msg.content
              )}`;
            }
            if (msg.role === "user") {
              messageContent.textContent = msg.content;
            }
          messageContainer.appendChild(messageContent);
          messageContainer.appendChild(copyButton);
          chatbox.appendChild(messageContainer);
          chatbox.scrollTop = chatbox.scrollHeight;
          }
        });
 
        chatForm.addEventListener("submit", async (e) => {
          e.preventDefault();
          const message = messageInput.value;
          addMessage("user", message);
          messageInput.value = "";
          await sendMessage(message);
        });

        document
          .getElementById("clear-history")
          .addEventListener("click", function () {
            chatHistory = [
              { role: "system", content: system_message},
            ];
            let systemMessage = document
              .querySelector(".bot-message")
              .cloneNode(true);
            chatbox.innerHTML = "";
            chatbox.appendChild(systemMessage);
            localStorage.removeItem('chatHistory');
          });

          document
          .getElementById("toggleConfigButton")
          .addEventListener("click", function () {
            var configCol = document.getElementById("config-col");
            var chatCol = document.getElementById("chat-col");
            var toggleButton = document.getElementById("toggleConfigButton");
            if (configCol.style.display === "none" || configCol.style.display === "") {
              configCol.style.display = "block";
              chatCol.className = "col-md-8";
              toggleButton.innerText = "Hide Configuration";
            } else {
              configCol.style.display = "none";
              chatCol.className = "col-md-12";
              toggleButton.innerText = "Show Configuration";
            }
          });
          document.getElementById("system_message").addEventListener("change", function() {
            chatHistory[0].content = this.value;
            localStorage.setItem('chatHistory', JSON.stringify(chatHistory));
        });
        async function sendMessage(message) {
          try {
            document.getElementById("loading").style.display = "block";
            document
              .getElementById("chat-form")
              .querySelector("button").disabled = true;
            const engine = document.getElementById("engine").value;
            const temperature = parseFloat(
              document.getElementById("temperature").value
            );
            const max_tokens = parseInt(
              document.getElementById("max_tokens").value
            );
            const top_p = parseFloat(document.getElementById("top_p").value);
            const frequency_penalty = parseFloat(
              document.getElementById("frequency_penalty").value
            );
            const presence_penalty = parseFloat(
              document.getElementById("presence_penalty").value
            );
            const secret_code = document.getElementById("secret_code").value;
            const system_message = document.getElementById("system_message").value;
            chatHistory[0].content = system_message;
            const requestBody = {
              secret_code,
              message,
              chat_history: chatHistory,
              engine,
              temperature,
              max_tokens,
              top_p,
              frequency_penalty,
              presence_penalty,
            };
            const response = await fetch("/chat", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(requestBody),
            });
            const data = await response.text();
            console.log(requestBody);
            document.getElementById("loading").style.display = "none";
            document
              .getElementById("chat-form")
              .querySelector("button").disabled = false;
            if (data) {
              addMessage("assistant", data);
              localStorage.setItem('chatHistory', JSON.stringify(chatHistory));
            } else {
              console.error("Invalid response:", data);
            }
          } catch (error) {
            console.error("Error:", error);
          }
          messageInput.focus();
        }

        function addMessage(role, content) {
          chatHistory.push({ role, content });
          const last_x_messages = parseInt(
            document.getElementById("last_x_messages").value
          );
          if (chatHistory.length > last_x_messages+1) {
            chatHistory.splice(1, 1);
          }
          const messageContainer = document.createElement("div");
          messageContainer.classList.add(role + "-message"); // apply different classes for user and assistant
          const messageContent = document.createElement("p");
          let converter = new showdown.Converter();
          if (role === "assistant") {
            messageContent.innerHTML = `<strong>Assistant:</strong> ${converter.makeHtml(
              content
            )}`;
          } else {
            messageContent.textContent = content;
          }

          // create the copy button
          const copyButton = document.createElement("i");
          copyButton.classList.add("fas", "fa-copy", "copy-button");
          copyButton.onclick = function() {
              let tempElement = document.createElement("textarea");
              tempElement.value = content;
              document.body.appendChild(tempElement);
              tempElement.select();
              document.execCommand("Copy");
              tempElement.remove();
          };

          // Append the message and the copy button to the message container
          messageContainer.appendChild(messageContent);
          messageContainer.appendChild(copyButton);          
          chatbox.appendChild(messageContainer);
          chatbox.scrollTop = chatbox.scrollHeight;
          messageInput.scrollIntoView({ behavior: 'instant' });
        }

        messageInput.addEventListener("keydown", function (e) {
          const sendButton = document
            .getElementById("chat-form")
            .querySelector("button");
          if (
            e.ctrlKey &&
            (e.key === "Enter" || e.keyCode === 13) &&
            sendButton.disabled == false
          ) {
            e.preventDefault();
            chatForm.dispatchEvent(new Event("submit"));
          }
        });
      });
    </script>
  </body>
</html>
